
*{
     margin: 0;
    padding: 0;
    font-family: sans-serif;

}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(logo.png);
    background-size: cover;
    background-position: center;

}
.navbar{
     width: 90%;
     margin: auto;
padding: 35px 0;
display: flex;
align-items: center ;
justify-content: space-between;

}
.logo{
  width: 90px;
  cursor: pointer;
  border-radius: 10px;
}
.navbar ul li{
         list-style: none;
         display: inline-block;
         margin: 0 20px;
         position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;


}
.navbar ul li::after{
        content: '';
        height: 3px;
        width: 0;
        background: #009688;
        position: absolute;
        left: 0;
        bottom: -10px;
        transition: 0.5s;

}
.navbar ul li:hover::after{
       width: 100%;

}
.content{
     width: 100%;
     position: absolute;
     top: 30%;
     transform: translateY(-50);
     text-align: center;
     color: #fff;

}
.content h1{
    font-size: 70px;
    margin: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
   cursor: pointer;
   position: relative;
   overflow: hidden;
}

span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;

}
button:hover{
    border: none;
    color: black;
    background-color: aqua;
    transition: 2s ease;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
input[type="text"] {
    padding: 6px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
#sub {
    margin-left: 1px;
    padding: 6px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  /*-----footer----*/
  footer{
    background: #111;
    height: auto;
    width:100vw ;
    font-family: "open sans";
    padding-top: 40px;
    color: #fff;
  }
  .footer-content{

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align:center;
  }
  .footer-content h3{
    font: size 1.8rem; 
    font-weight: 400;
    text-transform:capitalize ;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
  }
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

  }
.socials li{
    margin: 0 10px;
}
.socials a{
   text-decoration: none;
   color :#fff
}
.socials a i{
   font-size: 1.0rem;
   transition: color .4s ease;
}
.socials a:hover i{
    color: aqua;
}
.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform:capitalize ;
}

/*--- here-section--- home--*/
.here-section{
min-width: 100vw;

}
.here-box{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 40px 100px;
}
.left-box{
  margin: left 40px; 
  padding: 50px 0;
}
.started{
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.ready{
  color: rgb(175,25,25);
  margin-bottom: 8px;
  font-weight: 550;
}
.left-box{
font-size:34px;
margin-bottom: 8px;
line-height: 44px;
}
span{
  color: #60d48e;
}
.left-para{
  margin-bottom: 30px;
}
/* styling right image of top section */
/*--------btn-----*/
#home{
  color: #000;
}
#home:hover span{
  width: 100%;

}
#home:hover{
  border: none;
  color: rgb(247, 242, 242);
  background-color: aqua;
  transition: 2s ease;
}
.btn{

  background-color: #01b671;
  padding: 10px 25px;
  border-radius: 30px;
  color: black;
  transition: 0.4s ease-in-out;
  text-decoration: none; /*need in future styling of button*/ 
  border: 2px solid #009688;
 cursor: pointer;
 position: relative;
 overflow: hidden;
 }
 span{
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}
btn:hover span{
  width: 100%;

}
btn:hover{
  border: none;
  color: black;
  background-color: aqua;
  transition: 2s ease;
}
/**-------feature section----*/
.back{
  background-color: #d7cfcf;
}
.feature{
 background-color: rgb(136, 124, 124);
height: 50vh;
padding: 0 100px;  /*padding of each section will be same as mach as needed */
display: flex;
align-items: center;
justify-content: space-around;
}
.boxes{
padding: 20px 40px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
border-radius: 6px;
transition: 0.3s ease-in-out;
}
.boxes:hover{
   box-shadow:0px 5px 15px #bdbdbd;
   cursor:pointer;
}
.boxes h2{
  font-size: 18px;
  color: rgb(49,48,48);
  margin: 5px 0;
}
.boxes p{
  color: rgb(131,131,131);
}
.al-shadow{
  box-shadow: 0px 5px 15px #bdbdbd;
}

#any{
  color: aqua;
  font-size: 55px;
}


/*-----academic course--------*/




